{% extends 'base-template.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 align-items-center">
                <div class="col">
                    <h1>Booster votre visibilité en locale</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorem eius laborum minima officiis, soluta tenetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum, nobis, saepe. Debitis dolorem sunt tenetur.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary">Learn How</a>
                    
                    <div class="shape1">
                        <img src="{{ asset("images/shapes/shape1.png") }}" alt="Circle">
                    </div>
                    <div class="shape2">
                        <img src="{{ asset("images/shapes/shape2.svg") }}" alt="Circle">
                    </div>
                    <div class="shape3">
                        <img src="{{ asset("images/shapes/shape3.svg") }}" alt="Circle">
                    </div>
                    <div class="shape4">
                        <img src="{{ asset("images/shapes/shape4.svg") }}" alt="Circle">
                    </div>
                    <div class="shape5">
                        <img src="{{ asset("images/shapes/shape5.png") }}" alt="Circle">
                    </div>
                    <div class="shape6">
                        <img src="{{ asset("images/shapes/shape4.svg") }}" alt="Circle">
                    </div>
                    <div class="shape7">
                        <img src="{{ asset("images/shapes/shape4.svg") }}" alt="Circle">
                    </div>
                    <div class="shape8">
                        <img src="{{ asset("images/shapes/shape2.svg") }}" alt="Circle">
                    </div>
                </div>
                <div class="col">
                    <div class="position-relative">
                        <img src="{{ asset("images/dashbord.png") }}" alt="Entreprise de digitale" srcset="" width="100%" class="">
                        <img src="{{ asset("images/mobile.png") }}" alt="Entreprise de digitale" srcset="" width="100%" class="">
                        <img src="{{ asset("images/graphe.png") }}" alt="Entreprise de digitale" srcset="" width="100%" class="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section activity">
        <div class="list-slick">
            {% for i in 0..8 %}
                <div class="item">
                    <div class="">
                        <img src="{{ asset("images/nodeJs.png") }}" alt="">
                        <img src="{{ asset("images/nodeJs.png") }}" alt="">
                    </div>
                    <span></span>
                </div>

                <div class="item">
                    <div class="">
                        <img src="{{ asset("images/rails.png") }}" alt="">
                        <img src="{{ asset("images/rails.png") }}" alt="">
                    </div>
                    <span></span>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <img src="{{ asset("images/Laptop.png") }}" alt="" width="100%">
                </div>
                <div class="col">
                    <h2>Faites passer votre présence digitale au niveau supérieur</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ab alias, amet asperiores, aut beatae consectetur corporis dignissimos.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary">Learn How</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-section">
        <div class="container text-center">
            <h2>Nos realisations</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi dolorem eaque ipsam, nisi sint.</p>
            <div class="row row-cols-1 row-cols-lg-4 project">
                <div class="col">
                    <div class="item">
                        <img src="{{ asset("images/Mahily.jpg") }}" alt="" srcset="" width="100%">
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </section>
{% endblock %}
