<p>Bonjour,</p>
<p>Vous avez reçu un message sur le formulaire de contact de votre site. Les informations reçues :</p>
<p>Nom : {{ data.firstName }}<br />
    Prénom : {{ data.lastName }}<br />
    Téléphone : {{ data.phone }}<br />
    Mail : {{ data.email }}<br />
    <b>Message :</b><br />{{ data.message }}</p>
<p>---</p>
<p>Ce message a été envoyé par {{ data.email }}.</p>