<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light text-color" aria-label="Menu de navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset("/images/logo.png") }}" alt="Digital Entreprise">
                </a>
                <div class="toggle-mobile">
                    <a href="" class="btn btn-primary btn-login">
                        <i class="bi-person-circle"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-4">
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route == 'home.index' ? 'active' : '' }}" aria-current="page" href="{{ path("home.index") }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route == 'contact.index' ? 'active' : '' }}" href="{{ path("contact.index") }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-person"></i>
                                Connexion
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <!--footer class="text-white">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col">
                    <img src="{{ asset("images/logo.png") }}" alt="StartUp" class="logo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque libero saepe sed.</p>
                </div>
                <div class="col">
                    <h3>Nos services</h3>
                    <div class="">
                        <a href="" class="nav-link">
                            <i class="bi-chevron-right"></i>
                            Accueil
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-chevron-right"></i>
                            A propos
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-chevron-right"></i>
                            Contact
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-chevron-right"></i>
                            Plan du site
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-chevron-right"></i>
                            Mentions lègales
                        </a>
                    </div>
                </div>
                <div class="col">
                    <h3>Coodonnées</h3>
                    <div class="contact">
                        <a href="" class="nav-link">
                            <i class="bi-telephone-fill"></i>
                            +261 34 00 000 00
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-envelope-fill"></i>
                            digital@entreprise.com
                        </a>
                        <a href="" class="nav-link">
                            <i class="bi-geo-alt-fill"></i>
                            Antananarivo 101
                        </a>
                    </div>
                </div>
                <div class="col">
                    <h3>Follow Us</h3>
                    <div class="link-follow">
                        <a href="" class="link">
                            <i class="bi-linkedin"></i>
                        </a>
                        <a href="" class="link">
                            <i class="bi-twitter"></i>
                        </a>
                        <a href="" class="link">
                            <i class="bi-instagram"></i>
                        </a>
                        <a href="" class="link">
                            <i class="bi-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">Copyright © 2025 StartP. All rights reserved by <b><a href="">Digital Enterprise</a></b></div>
        </div>
    </footer -->

</body>
</html>